build/
*~
xcuserdata
*.xccheckout
.DS_Store
**/._*
.tuist-state/
.package.resolved
Pods/
.idea

# Tuist
Derived/
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
# Allow checked-in Xcode project and workspace for CI
!EsraUAESTORE.xcodeproj/
!EsraUAESTORE.xcodeproj/**
!EsraUAESTORE.xcworkspace/
!EsraUAESTORE.xcworkspace/**
.tuist-cache/
graph.json
Extensions/
